:root {

    --Yellow: hsl(47, 88%, 63%); 
    --White: hsl(0, 0%, 100%);
    --Gray-500: hsl(0, 0%, 42%);
    --Gray-950: hsl(0, 0%, 7%);
}


/*
* {
    border: 1px solid red;
}  */

.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }

 body {
    background-color: var(--Yellow);
    font-family: "Figtree", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem; /* 16px */
 }   


.container {
    background-color: var(--White);
    display: grid;
    width: 375px;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas: 
    'illustration-image'
    'learning'
    'published'
    'html-css'
    'description'
    'greg';
    justify-content:center;
    align-items: center;
    margin: auto;
    border-radius: 4%;
    border: 2px solid var(--Gray-950);
    margin-top: 60px;
    box-shadow: 8px 5px var(--Gray-950);
}

.illustration-image {
    grid-area: illustration-image;
    margin: 17px;
    border-radius: 4%;
    border-top-left-radius: 5%;

}

.learning {
    grid-area: learning;
    margin-left: 16px;
    margin-top: 5px;
    width: 20%;
    background-color: var(--Yellow);
    border-radius: 5%;
    padding: 5px;
    text-align: center;
}

.published {
    grid-area: published;
    margin-left: 16px;
    margin-top: 5px;
}

.html-css {
    grid-area: html-css;
    margin-left: 16px;
    margin-top: 5px;
    
}

.html-css:hover {
    color: var(--Yellow);
    cursor: pointer;
}

.html-css:active {
    color: var(--Yellow);
    cursor: pointer;
}

.description {
    grid-area: description;
    margin-left: 16px;
    margin-top: 5px;
    color: var(--Gray-500);
}

.greg {
    grid-area: greg;
    margin-left: 16px;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
    'greg-image greg-description';
    margin-bottom: 20px;
}
.greg-image {
    grid-area: greg-image;
    width: 200px;
}
.greg-description{
    grid-area: grg-description;
}

.attribution {
    margin-top: 20px;
}

@media screen and (width < 1440px) {
    
 
    .container {
    width: 300px;
    }

    .illustration-image {
        width: 280px;

    }
    
    .learning {
    width: 25%;
    }

}